@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.section-one{
    background-image: url(../img/h_img.jpg);
    background-position: 100%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.section-three{
    background-image: url(../img/s_image.jpg);
    background-position: 100%;
    background-size: cover;
    height: 50vh;
}
.contact{
    background-image: url(../img/c_image.jpg);
    background-size: cover;
    height: 50vh;
}

/* h2{
    font-size: 50px;
} */
input[type=text],input[type=text]:focus{
    background-color: transparent;
    border: 1px solid white;
    outline: none;
}
textarea.text,textarea.text:focus{
    background-color: transparent;
    border: 1px solid white;
    outline: none !important;
}
input[type=text]::placeholder{
    color: white;
}
textarea.text::placeholder{
    color: white;
}

/* .design-two{
    display: none;
} */


