@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.section-one{
    background-image: url(../img/h_img.jpg);
    background-position: 100%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.section-three{
    background-image: url(../img/s_image.jpg);
    background-position: 100%;
    background-size: cover;
    height: 50vh;
}
.contact{
    background-image: url(../img/c_image.jpg);
    background-size: cover;
    height: 50vh;
}
/* h2{
    font-size: 50px;
} */
input[type=text],input[type=text]:focus{
    background-color: transparent;
    border: 1px solid white;
    box-shadow: none;
    color: white;
}
textarea.text,textarea.text:focus{
    background-color: transparent;
    border: 1px solid white;
    box-shadow: none;
    color: white;
}
input[type=text]::placeholder{
    color: white;
}
textarea.text::placeholder{
    color: white;
}

.design-two{
    display: none;
}
.work1{
    position: relative;
    display: flex;

}

.work1-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work1-text h3{
    border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}
.work2{
    position: relative;
    display: flex;

}

.work2-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 80%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work2-text h3{
    border: 2px solid white;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}
.work3{
    position: relative;
    display: flex;

}

.work3-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work3-text h3{
    border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}
.work4{
    position: relative;
    display: flex;

}

.work4-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 80%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work4-text h3{
    border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}
.work5{
    position: relative;
    display: flex;

}

.work5-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work5-text h3{
    border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}

.work6{
    position: relative;
    display: flex;

}

.work6-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 80%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work6-text h3{
    border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}

.work7{
    position: relative;
    display: flex;

}

.work7-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work7-text h3{
    border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}

.work8{
    position: relative;
    display: flex;

}

.work8-text{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 80%;
     top: 1%; 
    left: 1%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.work8-text h3{
    border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: none;

}

